<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Rant!Rave</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/rant.css" th:href="@{/css/rant.css}"/>
  </head>

  <body>
   <form action="#" th:action="@{/companies}" th:object="${Companies}" method="post">
    <div>
      <img src="../../images/rantlogo.png" alt="Rant logo" title="Rant logo" 
           th:src="@{/images/rantlogo.png}"/>
            <img src="../../images/rant!rave.png" alt="Rant!Rave" title="Rant!Rave logo" 
           th:src="@{/images/rant!rave.png}"/>    
    </div>
    
<p th:text="${company}">">We've heard great things about you!</p>
<p th:text="${userid}">">We've heard great things about you!</p> 

  </form>
  
 
  </body>
</html>