<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Rant!Rave</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/stsm.css" th:href="@{/css/stsm.css}"/>
  </head>

  <body>

    <div>
      <img src="../../images/rantlogo.png" alt="Rant logo" title="Rant logo" 
           th:src="@{/images/rantlogo.png}" th:alt-title="#{title.application}"/>
            <img src="../../images/rant!rave.png" alt="Rant!Rave" title="Rant!Rave logo" 
           th:src="@{/images/rant!rave.png}" th:alt-title="#{title.application}"/>
    </div>
    
   <p th:text="company: #{company}">">We've heard great things about you!</p> 

<!-- <p th:utext="#{home.welcome(${session.user.name})}">Welcome to our grocery store, Smartron!!</p>  -->

  </body>
</html>