<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:context = "http://www.springframework.org/schema/context"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "
   http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <!--    <bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name = "prefix" value = "/WEB-INF/"/>
      <property name = "suffix" value = ".jsp"/>
   </bean>
   -->
   
   <bean class = "org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
      <property name = "mappings">
      <value>
          /*/showCompany.jsp=CompaniesController
          /*/companies.jsp=CompaniesController
          /*/home.jsp=HomeController
          /*/rant.jsp=RantController
      </value>
      </property>
   </bean>
 
   

  
   <bean id = "CompaniesController" class = "com.androidcommand.app.CompaniesController"/> 
   <bean id = "HomeController"      class = "com.androidcommand.app.HomeController"/> 
   <bean id = "RantController"      class = "com.androidcommand.app.RantController"/> 

    <!-- Application Message Bundle  
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:resources/labels_en.properties" />
    </bean>
      -->
</beans>